:root {
    --bg: linear-gradient(#004796, #000000);
    --primary-font-color: rgb(255, 255, 255, 1);
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: url("images/background.png");
    color: var(--primary-font-color);
}

header {
    background: var(--bg);
    text-align: center;
    margin-bottom: 5vh;
    clip-path: polygon(
    0 0%,
    10% 100%,
    90% 100%,
    100% 0
  )
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButton {
    width: 25vw;
    height: 10vh;
    display: inline-block;
    background: var(--bg);
    margin-right: 4px;
    border: solid 15px #0178fb;
    border-top: solid 3px #0178fb;
    border-bottom: none;
    padding-left: 5px;
  }


@keyframes box-move {
    0% {
        border-left: solid 25px #8c1f25;
        border-right: solid 5px #8c1f25;
        border-top: solid 3px #8c1f25;
        border-bottom: none;
    }
    50% {
        border-left: solid 5px #8c1f25;
        border-right: solid 25px #8c1f25;
        border-top: solid 3px #8c1f25;
        border-bottom: none;
    }
    100% {
        border-left: solid 25px #8c1f25;
        border-right: solid 5px #8c1f25;
        border-top: solid 3px #8c1f25;
        border-bottom: none;
    }
}

.navButton.active {
    animation-name: box-move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: rgba(220, 220, 220, 1);
    background: linear-gradient(#8c1f25, #000000);
}

.navButton {
    font-size: 1.75rem;
    color: rgba(220, 220, 220, .9);
    letter-spacing: 5px;
}

main {
    width: 60vw;
    margin: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background: var(--bg);
    text-align: center;
}

footer {
    margin: 5vh auto auto auto;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background: var(--bg);
    text-align: center;
    clip-path: polygon(
    0% 100%,
    10% 0,
    90% 0,
    100% 100%
  )
}

#menuDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menuItem {
    color: rgba(220, 220, 220, 1);
    text-align: center;
    background-color: rgba(255, 255, 255,.4);
    margin: 3 6.5vw;
    box-sizing: border-box;
    border: black solid 1px;
}